<!--NRL Water Velocity Depth Indexes-->
<span class='depth-header'>Depth (m)</span>
<div class='radio'>
  <label><input type="radio" id="depth" name="depthradio" 
    onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=0 checked>0</label>
</div>
<div class='radio'>
  <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-2>-2</label>
</div>
<div class='radio'>
    <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-4>-4</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-6>-6</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-8>-8</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-10>-10</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-20>-20</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-25>-25</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-30>-30</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-35>-35</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-40>-45</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-50>-50</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-60>-60</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-70>-70</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-80>-80</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-90>-90</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-100>-100</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-125>-125</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-150>-150</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-175>-175</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-200>-200</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-250>-250</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-300>-300</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-350>-350</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-400>-400</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-500>-500</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-600>-600</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-700>-700</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-800>-800</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-900>-900</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-1000>-1000</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-1250>-1250</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-1500>-1500</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-1750>-1750</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-2000>-2000</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-2500>-2500</label>
</div>
<div class='radio'>
      <label><input type="radio" id="depth" name="depthradio" onClick="layerDepth(layersNS.nrlVelocityLayer,this.value);" value=-3000>-3000</label>
</div>

