<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <span class="gTitle">GCOOS</span>
  <span class="navbar-brand gMenu"><a href={{ request.url_root}}>Active Deployments</a></span>
  <span class="navbar-brand gMenu"><a href={{ request.url_root}}summaries>Deployment Summaries</a></span>
  <span class="navbar-brand gMenu"><a href={{ request.url_root}}tracks>Historical Tracks</a></span>
<nav class="nav navbar-nav navbar-right">
  <span id='layer-button' class="glyphicon glyphicon-tasks"
    title="Layer Toggle">
  </span>
</nav>
