<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1, initial-scale=1"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/gandalf.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <div class='login-screen'>
    <div class='login-box'>
      <span class='login-title'>Sign In</span>
     <form method='POST'>
      <input type='text' class='login-field' name='email' id='email' placeholder='email'></input>
      <input type='password' class='login-field' name='pw' id='pw' placeholder='password'></input>
      <input type='submit' class='login-submit' value='Sign In' name='submit'></input>
    </form>
  </div>
</div>
